apiVersion: apps/v1
kind: Deployment
metadata:
  name: freightliner
spec:
  replicas: 2
  template:
    spec:
      nodeSelector:
        node-type: staging
      containers:
        - name: freightliner
          resources:
            requests:
              cpu: 500m
              memory: 1Gi
            limits:
              cpu: 2000m
              memory: 4Gi
          env:
            - name: ENVIRONMENT
              value: "staging"
            - name: LOG_LEVEL
              value: "info"
