apiVersion: apps/v1
kind: Deployment
metadata:
  name: freightliner
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: freightliner
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 1000m
              memory: 2Gi
          env:
            - name: ENVIRONMENT
              value: "dev"
            - name: LOG_LEVEL
              value: "debug"
