apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: freightliner
  namespace: freightliner
  labels:
    app.kubernetes.io/name: freightliner
    app.kubernetes.io/component: availability
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: freightliner
  unhealthyPodEvictionPolicy: IfHealthyBudget
