apiVersion: v1
kind: ServiceAccount
metadata:
  name: freightliner
  namespace: freightliner
  labels:
    app.kubernetes.io/name: freightliner
    app.kubernetes.io/component: serviceaccount
automountServiceAccountToken: false
